---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = "Astro Home"; // JavaScript or TypeScript goes here.
---

<BaseLayout pageTitle={pageTitle}>
	<h2>My Astro site</h2>
</BaseLayout>
